@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'primeicons/primeicons.css';

@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
    @tailwind base;

}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;

}

html {
    scroll-behavior: smooth;
}

.blue-btn {
    @apply bg-primary hover:bg-[#014CEC] font-poppins text-[15px] font-bold tracking-wider
}


.hero-input:hover {
    border-color: #014CEC;
}

.hero-input:focus {
    box-shadow: none;
    border-color: #014CEC;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-y-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-y-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.p-datepicker-month:hover,
.p-datepicker-year:hover {
    @apply text-primary
}

.p-monthpicker-month:focus {
    box-shadow: 0 0 0 0.2rem hsl(221, 99%, 73%);
}

.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus {
    box-shadow: 0 0 0 0.2rem hsl(221, 99%, 73%);
}

.p-datepicker table td>span:focus {
    box-shadow: 0 0 0 0.2rem hsl(221, 99%, 73%);
}

.p-datepicker table td>span.p-highlight {
    color: #014CEC;
    background-color: hsl(183, 100%, 96%);
    ;

}

.h-80dvh {
    height: 80dvh;
}

.h-70dvh {
    height: 70dvh;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus-visible {
    box-shadow: 0 0 0 0.2rem hsl(221deg 100% 80.22% / 66.3%);
    ;
}

/* Custom Scrollbar for WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #374151;
    /* Handle color of the scrollbar */
    border-radius: 10px;
    /* Rounded corners of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #003B9E;
    /* Darker shade for the handle when hovered */
}

/* Custom Scrollbar for Firefox */
body,
.custom-scrollbar-element {
    /* Thin scrollbar */
    /* Handle color and track color */
}

* {
    /* outline: 1px solid red; */
}