@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'primeicons/primeicons.css';

@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
    @tailwind base;

}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;

}

html {
    scroll-behavior: smooth;
}

.blue-btn {
    @apply bg-primary hover:bg-[#014CEC] font-poppins text-[15px] font-bold tracking-wider
}


.hero-input:hover {
    border-color: #014CEC;
}

.hero-input:focus {
    box-shadow: none;
    border-color: #014CEC;
}

* {
    /* outline: 1px solid red; */
}